body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
  }

.navbar {
    overflow: hidden;
    background-color: lightcoral;
  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.brand {
    background-color: #04AA6D;
    color: blue;
  }
  
  .navbar-right {
    float: right;
  }